/*!
 * Postcss boilerplate - v0.0.8
 * A boilerplate for Postcss projects
 * https://github.com/wochap/postcss-boilerplate
 *
 * Made by Gean Bonifacio
 */

//  Settings
//  ==========================================================================
// 
//  Variables.

@import "1-settings/main"


//  Tools
//  ==========================================================================
// 
//  Functions, mixins etc.

@import "2-tools/main"


//  Generic
//  ==========================================================================
// 
//  Low-specificity, far-reaching rulesets.

@import "3-generic/main"


//  Base
//  ==========================================================================
// 
//  Unclassed HTML elements.

@import "4-base/main"


//  Objects
//  ==========================================================================
// 
//  Design-free objects, abstractions and patterns.

@import "5-objects/main"


//  Components
//  ==========================================================================
// 
//  Components and widgets.

@import "6-components/main"


//  Trumps
//  ==========================================================================
// 
//  Helper classes and overrides. 
@import "7-trumps/main"
