/*!
 * Stylus Base - v0.1.0
 * A robust Stylus Base for web projects
 * https://github.com/wochap/stylus-base
 *
 * Made by Gean Bonifacio
 */

//  Settings
//  ==========================================================================
// 
//  Variables.

@import '1-settings/main'


//  Tools
//  ==========================================================================
// 
//  Functions, mixins etc.

@import '2-tools/main'


//  Generic
//  ==========================================================================
// 
//  Low-specificity, far-reaching rulesets.

@import '3-generic/main'


//  Base
//  ==========================================================================
// 
//  Unclassed HTML elements.

@import '4-base/main'


//  Objects
//  ==========================================================================
// 
//  Design-free objects, abstractions and patterns.

@import '5-objects/main'


//  Components
//  ==========================================================================
// 
//  Components and widgets.

@import '6-components/main'


//  Trumps
//  ==========================================================================
// 
//  Helper classes and overrides. 

@import '7-trumps/main'
