/*!
 * Postcss boilerplate - v0.0.5
 * A boilerplate for Postcss projects
 * https://github.com/wochap/postcss-boilerplate
 *
 * Made by Gean Bonifacio
 */

@import "1-settings/colors"
@import "1-settings/typography"
@import "1-settings/media-queries"
@import "1-settings/spaces"
@import "1-settings/variables"

@import "2-tools/index"

@import "3-generic/index"

// @import "4-base/buttons"
// @import "4-base/core"
// @import "4-base/forms"
// @import "4-base/lists"
// @import "4-base/tables"
// @import "4-base/typography"
@import "4-base/font"
@import "4-base/icon"

@import "5-objects/index"

@import "6-components/index"

@import "7-trumps/index"
