//  Bemit
//  ==========================================================================
//
// perform a visual healthcheck against your UI using the debugger mixin.


if $debug-bemit
  bemit-debug()
