// Provides a quick method for targeting `border-width` on specific sides of a box. Use a `false` value to “skip” a side.
//
// @param {Arglist} $vals
//   List of arguments
//
// @require {mixin} directional-property
//
// @output `border-width`

border-width($vals...)
  directional-property('border', 'width', $vals)
