//  Column
//  ==========================================================================
// 
//  inspiration: http://bulma.io/documentation/grid/
//  inspiration: http://flexboxgrid.com/


+object('columns')
  display: flex
  flex-direction: row
  flex-wrap wrap

+object('columns__column')
  flex: 1 1 auto
  min-width: 0
  min-height: 0

auto // auto
half // 50%
third // 33.3333%
quarter // 25%

1 //  (1 / 12) * 100%
2 //  ($i / 12) * 100%
3
4
5
6
7
8
9
10
11
12<
