//  Align
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/align/

.{$prefix-utility}align-baseline { vertical-align: baseline }
.{$prefix-utility}align-top      { vertical-align: top }
.{$prefix-utility}align-middle   { vertical-align: middle }
.{$prefix-utility}align-bottom   { vertical-align: bottom }
