//  Borders
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/borders/


//  Borders
//  --------------------------------------------------------------------------
.border {
	border-style: solid;
	border-width: $base-border-width;
	border-color: $base-border-color;
}

.border-top {
	border-top-style: solid;
	border-top-width: $base-border-width;
	border-top-color: $base-border-color;
}

.border-right {
	border-right-style: solid;
	border-right-width: $base-border-width;
	border-right-color: $base-border-color;
}

.border-bottom {
	border-bottom-style: solid;
	border-bottom-width: $base-border-width;
	border-bottom-color: $base-border-color;
}

.border-left {
	border-left-style: solid;
	border-left-width: $base-border-width;
	border-left-color: $base-border-color;
}

.border-none { border: 0 }


//  Border Radii
//  --------------------------------------------------------------------------
.rounded { border-radius: $base-border-radius }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: $base-border-radius $base-border-radius 0 0 }
.rounded-right  { border-radius: 0 $base-border-radius $base-border-radius 0 }
.rounded-bottom { border-radius: 0 0 $base-border-radius $base-border-radius }
.rounded-left   { border-radius: $base-border-radius 0 0 $base-border-radius }

.not-rounded { border-radius: 0 }
