//  Positions
//  ==========================================================================
//
//  doc: http://www.basscss.com/docs/positions/

.{$prefix-utility}relative { position: relative }
.{$prefix-utility}absolute { position: absolute }
.{$prefix-utility}fixed    { position: fixed }

.{$prefix-utility}top-0    { top: 0 }
.{$prefix-utility}right-0  { right: 0 }
.{$prefix-utility}bottom-0 { bottom: 0 }
.{$prefix-utility}left-0   { left: 0 }

.{$prefix-utility}z1 { z-index: 1 }
.{$prefix-utility}z2 { z-index: 2 }
.{$prefix-utility}z3 { z-index: 3 }
.{$prefix-utility}z4 { z-index: 4 }
