//  Responsive States
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/responsive-states/

.show\@xs,
.show\@sm,
.show\@md,
.show\@lg,
.show\@xl {
	display: none !important
}

for $key, $value in $breakpoints
	+desde($key)
		.show\@{$key} { display: block !important }


//  Hide
//  --------------------------------------------------------------------------
for $key, $value in $breakpoints
	+desde($key)
		.hide\@{$key} { display: none !important }

.display-none { display: none !important }

.hide {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
