//  White Space
//  ==========================================================================
//
//  doc: http://www.basscss.com/docs/white-space/


//  Margins
//  --------------------------------------------------------------------------
.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

for $key, $value in $spaces
    .m{$key}  { margin:        space($key) }
    .mt{$key} { margin-top:    space($key) }
    .mr{$key} { margin-right:  space($key) }
    .mb{$key} { margin-bottom: space($key) }
    .ml{$key} { margin-left:   space($key) }

for $key, $value in $spaces
    .mxn{$key} {
        margin-left: - space($key); 
        margin-right: - space($key);
    }

.mx-auto { margin-left: auto; margin-right: auto; }


//  Padding
//  --------------------------------------------------------------------------
.p0  { padding: 0 }

for $key, $value in $spaces
    .p{$key} { padding: space($key) }
    .py{$key} {
        padding-top: space($key);
        padding-bottom: space($key);
    }
    .px{$key} {
        padding-left: space($key);
        padding-right: space($key);
    }
