//  Colors
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/colors/

.{$prefix-utility}black  { color: $black }
.{$prefix-utility}gray   { color: $gray }
.{$prefix-utility}silver { color: $silver }
.{$prefix-utility}white  { color: $white }

.{$prefix-utility}aqua  { color: $aqua }
.{$prefix-utility}blue  { color: $blue }
.{$prefix-utility}navy  { color: $navy }
.{$prefix-utility}teal  { color: $teal }
.{$prefix-utility}green { color: $green }
.{$prefix-utility}olive { color: $olive }
.{$prefix-utility}lime  { color: $lime }

.{$prefix-utility}yellow  { color: $yellow }
.{$prefix-utility}orange  { color: $orange }
.{$prefix-utility}red     { color: $red }
.{$prefix-utility}fuchsia { color: $fuchsia }
.{$prefix-utility}purple  { color: $purple }
.{$prefix-utility}maroon  { color: $maroon }

.{$prefix-utility}color-inherit { color: inherit }


//  Opacity
//  --------------------------------------------------------------------------

.{$prefix-utility}muted { opacity: .5 }
