//  Flex Object
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/flex-object/


//  Parent Element Utilities
//  --------------------------------------------------------------------------

.{$prefix-utility}flex { display: flex }

.{$prefix-utility}flex-column { flex-direction: column }
.{$prefix-utility}flex-row    { flex-direction: row }
.{$prefix-utility}flex-wrap   { flex-wrap: wrap }

.{$prefix-utility}flex-center   { align-items: center }
.{$prefix-utility}flex-baseline { align-items: baseline }
.{$prefix-utility}flex-stretch  { align-items: stretch }
.{$prefix-utility}flex-start    { align-items: flex-start }
.{$prefix-utility}flex-end      { align-items: flex-end }

.{$prefix-utility}flex-justify  { justify-content: space-between }


//  Child Element Utilities
//  --------------------------------------------------------------------------

.{$prefix-utility}flex-auto {
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
}
.{$prefix-utility}flex-grow { flex: 1 0 auto }
.{$prefix-utility}flex-none { flex: none }

.{$prefix-utility}flex-first { order: -1 }
.{$prefix-utility}flex-last  { order: 99999 }


//  Media queries
//  --------------------------------------------------------------------------

for $key, $value in $breakpoints
	+desde($key)
		.{$prefix-utility}flex\@{$key} { display: flex }
