//  Responsive States
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/responsive-states/

.{$prefix-utility}show\@xs,
.{$prefix-utility}show\@sm,
.{$prefix-utility}show\@md,
.{$prefix-utility}show\@lg,
.{$prefix-utility}show\@xl {
	display: none !important
}

for $key, $value in $breakpoints
	+desde($key)
		.{$prefix-utility}show\@{$key} { display: block !important }


//  Hide
//  --------------------------------------------------------------------------
for $key, $value in $breakpoints
	+desde($key)
		.{$prefix-utility}hide\@{$key} { display: none !important }

.{$prefix-utility}display-none { display: none !important }

.{$prefix-utility}hide {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
