//  Core resets
//  ==========================================================================

*
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

// Set up a decent box model on the root element
html
	-webkit-font-smoothing: antialiased
	box-sizing: border-box

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after
	box-sizing: inherit

html,
body
	height: 100%
	overflow-x: hidden

body
	width: 100%
	overflow-y: auto

video,
audio,
embed,
object,
input,
iframe
	max-width: 100%


//  Browsehappy styles
//  --------------------------------------------------------------------------
.browsehappy
	background: #333
	cursor: pointer

	// typography
	color: #fff
	font-size: 13px
	line-height: 21px
	text-align: center

	// box model
	padding: 15px
	width: 100%

.browsehappy a
	color: #fff
	font-weight: bold

.browsehappy a:hover
	text-decoration: none
