{$all-text-inputs}
select[multiple="multiple"]
  background-color: $base-background-color
  border-radius: $base-border-radius
  border: $base-border
  box-shadow: $form-box-shadow
  padding: space('2', 'em')
  transition: border-color $base-duration $base-timing
  width: 100%

  &:hover
    border-color: shade($base-border-color, 20%)

  &:focus
    border-color: $color-primary
    box-shadow: $form-box-shadow-focus
    outline: none

  &:disabled
    background-color: shade($base-background-color, 10%)
    border-color: shade($base-background-color, 15%)
    cursor: not-allowed

fieldset
legend
  border: 0
  margin: 0
  padding: 0

input
label
textarea
  display: block

input[type="search"]
  appearance: none
  box-sizing: border-box

input[type="checkbox"]
input[type="radio"]
  display: inline-block
  margin-right: space('1', 'em')

input[type="file"]
  width: 100%

label
  fw('s-bold')

legend
  fw('s-bold')

select
  display: inline-block
  max-width: 100%
  width: auto

textarea
  resize: vertical
