table
  border-collapse: collapse
  table-layout: fixed
  width: 100%

th,
td
  border-bottom: 1px solid shade($base-border-color, 25%)
  padding: space('2', 'em') 0

th
  fw('s-bold')
  text-align: left

tr,
td,
th
  vertical-align: middle

thead
  th
    border-bottom-width 2px
