//  Bemit
//  ==========================================================================


//  Prefix
//  --------------------------------------------------------------------------

$bemit-component-prefix ?= 'c'
$bemit-object-prefix    ?= 'o'
$bemit-utility-prefix   ?= 'u'
$bemit-scope-prefix     ?= 's'
$bemit-state-prefix     ?= 'is'
$bemit-suffix-prefix    ?= '\@'


//  Separator
//  --------------------------------------------------------------------------

$bemit-element-separator  ?= '__'
$bemit-modifier-separator ?= '--'


//  Debug
//  --------------------------------------------------------------------------

$bemit-debug-styles = {
  'modifiers'  : 5px solid #aaa,
  'elements'   : 5px solid #111,
  'objects'    : 5px solid #FFDC00,
  'components' : 5px solid #FF851B,
  'utilities'  : 5px solid #0074D9
}
