//  Variables
//  ==========================================================================


//  Forms
//  --------------------------------------------------------------------------

$form-box-shadow       ?= none
$form-box-shadow-focus ?= none


//  Typography
//  --------------------------------------------------------------------------

$base-font-family ?= 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$base-font-size   ?= 16px
$base-font-weight ?= $fw-normal
$base-line-height ?= 1.6

$heading-font-family ?= 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$heading-font-weight ?= $fw-bold
$heading-line-height ?= 1.6

$icon-font-family ?= 'icomoon'

$paragraph-margin-top    ?= 0
$paragraph-margin-bottom ?= 0.8em


//  Colors
//  --------------------------------------------------------------------------

$color-primary   ?= #7809BA // colour of text and main colour overall
$color-secondary ?= #D4007C // colour of any components, backgrounds, etc.
$color-tertiary  ?= #3A14BE // special colour to complement secondary colour

$base-background-color ?= $white
$base-border-color     ?= #cccccc
$base-font-color       ?= #3d3d3d

$heading-color ?= #383838

$link-color       ?= $color-primary
$link-color-hover ?= lightness($link-color, 50%)


//  Border
//  --------------------------------------------------------------------------

$base-border-radius ?= 0.188em // 3px
$base-border-width  ?= 1px
$base-border        ?= $base-border-width solid $base-border-color


//  Wrapper
//  --------------------------------------------------------------------------

$wrapper-gutter   ?= 1rem // 16px
$wrapper-width-xl ?= 1200px
$wrapper-width-lg ?= 1000px
$wrapper-width-md ?= 780px


//  Animations
//  --------------------------------------------------------------------------

$base-duration ?= 0.3s
$base-timing   ?= ease


//  Directories
//  --------------------------------------------------------------------------

$path-font-base ?= '../../fonts/base-font/'
$path-font-icon ?= '../../fonts/icon-font/'
$path-img       ?= '../../img/'


//  Debug
//  --------------------------------------------------------------------------

$debug-media-queries    ?= true
$debug-opacity-messages ?= .25
$debug-bemit            ?= true
$debug-cols-object      ?= true
