//  Buttons
//  ==========================================================================

$button-line-height: 1.125em
$button-padding-y: 0.5em
$button-padding-x: 1em

btn()
  padding($button-padding-y $button-padding-x)
  user-select(none)
  input-reset()
  cursor: pointer
  display: inline-block

  // typography
  color: inherit
  line-height: $button-line-height
  text-decoration: none
