//  Buttons
//  ==========================================================================

$button-line-height = 1.125em
$button-padding-y   = 0.5em
$button-padding-x   = 1em

button()
  input-reset()
  padding($button-padding-y $button-padding-x)
  user-select(none)
  color: inherit
  cursor: pointer
  display: inline-block
  line-height: $button-line-height
  text-decoration: none
