//  Layout
//  ==========================================================================


// create a wrapper
wrap($max-width = $wrapper-width-xl, $padding = $wrapper-gutter)
  if $padding != null
    // añadir padding
    padding(null $padding)

  margin(null auto)
  display: block unless @display
  max-width: $max-width
  width: 100%

// clearfix
clearfix()
  &::after
    clear: both
    content: ""
    display: table
