//  Media queries
//  ==========================================================================


hasta($size)
  if $breakpoints[$size]
    @media screen and (max-width: $breakpoints[$size] - 1)
      {block}
  else
    @media screen and (max-width: $size)
      {block}

desde($size)
  if $breakpoints[$size]
    @media screen and (min-width: $breakpoints[$size])
      {block}
  else
    @media screen and (min-width: $size)
      {block}

desde-hasta($desde, $hasta)
  if $breakpoints[$desde] && $breakpoints[$hasta]
    @media screen and (min-width: $breakpoints[$desde]) and (max-width: $breakpoints[$hasta] - 1)
      {block}
  else if $breakpoints[$desde] && !$breakpoints[$hasta]
    @media screen and (min-width: $breakpoints[$desde]) and (max-width: $hasta)
      {block}
  else if !$breakpoints[$desde] && $breakpoints[$hasta]
    @media screen and (min-width: $desde) and (max-width: $breakpoints[$hasta] - 1)
      {block}
  else
    @media screen and (min-width: $desde) and (max-width: $hasta)
      {block}
