//  Font size
//  --------------------------------------------------------------------------

// @param {String, Unit} $size
font-size($size)
  if $font-size[$size]
    font-size: $font-size[$size]
  else
    font-size: $size
fz = font-size


//  Font Weight
//  --------------------------------------------------------------------------

// @param {String, Unit} $weight
font-weight($weight)
  if $font-weight[$weight]
    font-weight: $font-weight[$weight]
  else
    font-weight: $weight
fw = font-weight
