//  Align
//  ==========================================================================
//
// 	doc: http://www.basscss.com/#basscss-align


utility('align-baseline', @(){ vertical-align: baseline })
utility('align-top', @(){ vertical-align: top })
utility('align-middle', @(){ vertical-align: middle })
utility('align-bottom', @(){ vertical-align: bottom })
