//  Background Colors
//  ==========================================================================
//
// 	doc: https://github.com/basscss/addons/tree/master/modules/background-colors


utility('bg-primary', @(){ background-color: $color-primary })
utility('bg-secondary', @(){ background-color: $color-secondary })
utility('bg-tertiary', @(){ background-color: $color-tertiary })

utility('bg-facebook', @(){ background-color: $c-facebook })
utility('bg-twitter', @(){ background-color: $c-twitter })
utility('bg-google', @(){ background-color: $c-google })
utility('bg-youtube', @(){ background-color: $c-youtube })

utility('bg-black', @(){ background-color: $black })
utility('bg-gray', @(){ background-color: $gray })
utility('bg-silver', @(){ background-color: $silver })
utility('bg-white', @(){ background-color: $white })

utility('bg-aqua', @(){ background-color: $aqua })
utility('bg-blue', @(){ background-color: $blue })
utility('bg-navy', @(){ background-color: $navy })
utility('bg-teal', @(){ background-color: $teal })
utility('bg-green', @(){ background-color: $green })
utility('bg-olive', @(){ background-color: $olive })
utility('bg-lime', @(){ background-color: $lime })

utility('bg-yellow', @(){ background-color: $yellow })
utility('bg-orange', @(){ background-color: $orange })
utility('bg-red', @(){ background-color: $red })
utility('bg-fuchsia', @(){ background-color: $fuchsia })
utility('bg-purple', @(){ background-color: $purple })
utility('bg-maroon', @(){ background-color: $maroon })

utility('bg-darken-1', @(){ background-color: $darken-1 })
utility('bg-darken-2', @(){ background-color: $darken-2 })
utility('bg-darken-3', @(){ background-color: $darken-3 })
utility('bg-darken-4', @(){ background-color: $darken-4 })

utility('bg-lighten-1', @(){ background-color: $lighten-1 })
utility('bg-lighten-2', @(){ background-color: $lighten-2 })
utility('bg-lighten-3', @(){ background-color: $lighten-3 })
utility('bg-lighten-4', @(){ background-color: $lighten-4 })
