//  Borders
//  ==========================================================================
//
// 	doc: http://www.basscss.com/#basscss-border


//  Borders
//  --------------------------------------------------------------------------

utility('border', @(){
  border-style: solid;
  border-width: $base-border-width;
  border-color: $base-border-color;
})

utility('border-top', @(){
  border-top-style: solid;
  border-top-width: $base-border-width;
  border-top-color: $base-border-color;
})

utility('border-right', @(){
  border-right-style: solid;
  border-right-width: $base-border-width;
  border-right-color: $base-border-color;
})

utility('border-bottom', @(){
  border-bottom-style: solid;
  border-bottom-width: $base-border-width;
  border-bottom-color: $base-border-color;
})

utility('border-left', @(){
  border-left-style: solid;
  border-left-width: $base-border-width;
  border-left-color: $base-border-color;
})

utility('border-none', @(){ border: 0 })


//  Border Radii
//  --------------------------------------------------------------------------

utility('rounded', @(){ border-radius: $base-border-radius })
utility('circle', @(){ border-radius: 50% })

utility('rounded-top', @(){ border-radius: $base-border-radius $base-border-radius 0 0 })
utility('rounded-right', @(){ border-radius: 0 $base-border-radius $base-border-radius 0 })
utility('rounded-bottom', @(){ border-radius: 0 0 $base-border-radius $base-border-radius })
utility('rounded-left', @(){ border-radius: $base-border-radius 0 0 $base-border-radius })

utility('not-rounded', @(){ border-radius: 0 })
