//  Colors
//  ==========================================================================
//
// 	doc: https://github.com/basscss/addons/tree/master/modules/colors


utility('primary', @(){ color: $color-primary })
utility('secondary', @(){ color: $color-secondary })
utility('tertiary', @(){ color: $color-tertiary })

utility('facebook', @(){ color: $c-facebook })
utility('twitter', @(){ color: $c-twitter })
utility('google', @(){ color: $c-google })
utility('youtube', @(){ color: $c-youtube })

utility('black', @(){ color: $black })
utility('gray', @(){ color: $gray })
utility('silver', @(){ color: $silver })
utility('white', @(){ color: $white })

utility('aqua', @(){ color: $aqua })
utility('blue', @(){ color: $blue })
utility('navy', @(){ color: $navy })
utility('teal', @(){ color: $teal })
utility('green', @(){ color: $green })
utility('olive', @(){ color: $olive })
utility('lime', @(){ color: $lime })

utility('yellow', @(){ color: $yellow })
utility('orange', @(){ color: $orange })
utility('red', @(){ color: $red })
utility('fuchsia', @(){ color: $fuchsia })
utility('purple', @(){ color: $purple })
utility('maroon', @(){ color: $maroon })

utility('color-inherit', @(){ color: inherit })

//  Opacity
//  --------------------------------------------------------------------------

utility('muted', @(){ opacity: .5 })
