//  Positions
//  ==========================================================================
//
//  doc: http://www.basscss.com/#basscss-position


utility('absolute', @(){ position: absolute })
utility('fixed', @(){ position: fixed })
utility('relative', @(){ position: relative })

utility('bottom-0', @(){ bottom: 0 })
utility('left-0', @(){ left: 0 })
utility('right-0', @(){ right: 0 })
utility('top-0', @(){ top: 0 })

utility('z1', @(){ z-index: 1 })
utility('z2', @(){ z-index: 2 })
utility('z3', @(){ z-index: 3 })
utility('z4', @(){ z-index: 4 })
