//  White Space
//  ==========================================================================
//
//  doc: http://www.basscss.com/docs/white-space/


//  Margins
//  --------------------------------------------------------------------------

.{$prefix-utility}m0  { margin:        0 }
.{$prefix-utility}mt0 { margin-top:    0 }
.{$prefix-utility}mr0 { margin-right:  0 }
.{$prefix-utility}mb0 { margin-bottom: 0 }
.{$prefix-utility}ml0 { margin-left:   0 }

for $key, $value in $spaces
  .{$prefix-utility}m{$key}  { margin:        $value }
  .{$prefix-utility}mt{$key} { margin-top:    $value }
  .{$prefix-utility}mr{$key} { margin-right:  $value }
  .{$prefix-utility}mb{$key} { margin-bottom: $value }
  .{$prefix-utility}ml{$key} { margin-left:   $value }

  .{$prefix-utility}py{$key} {
    margin-top:    $value;
    margin-bottom: $value;
  }
  .{$prefix-utility}px{$key} {
    margin-left:  $value;
    margin-right: $value;
  }

  .{$prefix-utility}mxn{$key} {
    margin-left:  $value * -1;
    margin-right: $value * -1;
  }

.{$prefix-utility}mx-auto {
  margin-left: auto;
  margin-right: auto;
}


//  Padding
//  --------------------------------------------------------------------------

.{$prefix-utility}p0  { padding:        0 }
.{$prefix-utility}pt0 { padding-top:    0 }
.{$prefix-utility}pr0 { padding-right:  0 }
.{$prefix-utility}pb0 { padding-bottom: 0 }
.{$prefix-utility}pl0 { padding-left:   0 }

for $key, $value in $spaces
  .{$prefix-utility}p{$key}  { padding:        $value }
  .{$prefix-utility}pt{$key} { padding-top:    $value }
  .{$prefix-utility}pr{$key} { padding-right:  $value }
  .{$prefix-utility}pb{$key} { padding-bottom: $value }
  .{$prefix-utility}pl{$key} { padding-left:   $value }

  .{$prefix-utility}py{$key} {
    padding-top:    $value;
    padding-bottom: $value;
  }
  .{$prefix-utility}px{$key} {
    padding-left:  $value;
    padding-right: $value;
  }
