/// Provides a method for choose a space size
///
/// @param {key} $vals
///   $spaces hash key
/// @param {unit} $vals
///   em or rem
///
/// @example styl - Usage
///   .element
///     margin: space('1', em)
///
/// @example css - CSS Output
///   .element {
///     margin: 0.25em
///   }

space($size, $unit = 'rem')
    $size = $spaces[$size]
    $value = unit($size, $unit)
    return $value
