// Provides a method for choose a space size
//
// @param {String} $size
//   Hash key
// @param {String} $unit
//   Unit to use

space($size, $unit = 'rem')
  ensure($size, 'string')
  ensure($unit, 'string')
  $size = $spaces[$size]
  $value = unit($size, $unit)
  return $value
