//  Media queries
//  ==========================================================================

// Breakpoints
$device-xl = 75em // 1200px
$device-lg = 62em // 992px
$device-md = 48em // 768px
$device-md = 48em // 768px
$device-sm = 30em // 480px
$device-xs = 20em // 320px

// Breakpoints list for respond-to mixin
$breakpoints = {
    'xl': $device-xl,
    'lg': $device-lg,
    'md': $device-md,
    'sm': $device-sm,
    'xs': $device-xs,

    'header': $device-lg,
}
