//  Configuracion global
//  ==========================================================================


//  Forms
//  --------------------------------------------------------------------------
$form-box-shadow       = none
$form-box-shadow-focus = none


//  Typography
//  --------------------------------------------------------------------------
$base-font-family = 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$base-font-size   = 16px
$base-font-weight = $font-weight-normal
$base-line-height = 1.6em

$heading-font-family   = 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$heading-font-weight   = $font-weight-bold
$heading-line-height   = 1.6em

$icon-font-family = 'icomoon'

$paragraph-margin-top    = 0
$paragraph-margin-bottom = 0.8em


//  Colours
//  --------------------------------------------------------------------------
$color-primary   = #7809BA // colour of text and main colour overall
$color-secondary = #D4007C // colour of any components, backgrounds, etc.
$color-tertiary  = #3A14BE // special colour to complement secondary colour

$base-font-color       = #878787
$base-border-color     = #a6a6a6
$base-background-color = $white

$heading-color = #383838

$link-color       = #047ac6
$link-color-hover = lightness(#047ac6, 50%)


//  Border
//  --------------------------------------------------------------------------
$base-border-radius = 3px
$base-border-width  = 2px
$base-border        = $base-border-width solid $base-border-color


//  Wrapper
//  --------------------------------------------------------------------------
$wrapper-gutter   = 1rem
$wrapper-width-xl = 1200px
$wrapper-width-lg = 1000px
$wrapper-width-md = 780px


//  Animations
//  --------------------------------------------------------------------------
$base-duration = 0.3s
$base-timing   = ease


//  Directories
//  --------------------------------------------------------------------------
$path-font-base = "../../fonts/base-font/"
$path-font-icon = "../../fonts/icon-font/"
$path-img       = "../../img/"


//  BEMIT
//  --------------------------------------------------------------------------
$prefix-component = 'c-'
$prefix-object    = 'o-'
$prefix-utility   = 'u-'
$prefix-scope     = 's-'
$prefix-element   = '__'
$prefix-modifier  = '--'
$prefix-state     = '.is-'
