//  Configuracion global
//  ==========================================================================


//	Spaces
//  --------------------------------------------------------------------------
$space-1 = .25rem
$space-2 = -5rem
$space-3 = 1rem
$space-4 = 2rem
$space-5 = 4rem


//  Typography
//  --------------------------------------------------------------------------
$base-font-family = 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$base-font-weight = $font-weight-normal
$base-line-height = 1.25

$heading-font-family   = 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$heading-font-weight   = $font-weight-bold
$heading-line-height   = 1.25
$heading-margin-bottom = 1em

$icon-font-family = 'icomoon'

$paragraph-margin-top    = 0
$paragraph-margin-bottom = 1em


//  Colours
//  --------------------------------------------------------------------------
$color-primary   = #7809BA // colour of text and main colour overall
$color-secondary = #D4007C // colour of any components, backgrounds, etc.
$color-tertiary  = #3A14BE // special colour to complement secondary colour

$base-color        = #878787
$base-border-color = $light-gray
$base-background   = $white

$heading-color = #383838

$link-color       = #047ac6
$link-color-hover = #2596de


//  Wrapper
//  --------------------------------------------------------------------------
$wrapper-gutter   = 1rem
$wrapper-width-xl = 1200px
$wrapper-width-lg = 1000px
$wrapper-width-md = 780px


//  Animations
//  --------------------------------------------------------------------------
$base-duration = 300ms
$base-timing   = ease


//  Directories
//  --------------------------------------------------------------------------
$path-font-base = "../../fonts/base-font/"
$path-font-icon = "../../fonts/icon-font/"
$path-img       = "../../img/"


//  BEMIT
//  --------------------------------------------------------------------------
$prefix-component = 'c-'
$prefix-object    = 'o-'
$prefix-utility   = 'u-'
$prefix-scope     = 's-'
$prefix-element   = '__'
$prefix-modifier  = '--'
$prefix-state     = '.is-'
