//	Spaces
//  --------------------------------------------------------------------------
$space-1 = 0.25
$space-2 = 0.5
$space-3 = 1
$space-4 = 2
$space-5 = 4

$spaces = {
	'1' : $space-1,
	'2' : $space-2,
	'3' : $space-3,
	'4' : $space-4,
	'5' : $space-5,
}
