/// Directional-property mixins are shorthands for writing properties like the following
///
/// @ignore You can use `false`, dont use `null`.
///
/// @param {List} $vals
///   List of directional values
///
/// @example scss - Usage
///   .element {
///     @include border-style(dotted null);
///     @include margin(null 0 10px);
///   }
///
/// @example css - CSS Output
///   .element {
///     border-bottom-style: dotted;
///     border-top-style: dotted;
///     margin-bottom: 10px;
///     margin-left: 0;
///     margin-right: 0;
///   }
///
/// @require {function} contains-falsy
///
/// @return {List}

collapse-directionals($vals)
  $output = null

  $a = $vals[0]
  $b = length($vals) < 2 ? $a : $vals[1]
  $c = length($vals) < 3 ? $a : $vals[2]
  $d = length($vals) < 2 ? $a : $vals[length($vals) < 4 ?  1 : 3]

  if $a == $b and $a == $c and $a == $d
    $output = $a
  else if $a == $c and $b == $d
    $output = $a $b
  else if $b == $d
    $output = $a $b $c
  else
    $output = $a $b $c $d

  return $output


/// Output directional properties, for instance `margin`.
///
/// @access private
///
/// @param {String} $pre
///   Prefix to use
/// @param {String} $suf
///   Suffix to use
/// @param {List} $vals
///   List of values

directional-property( $pre, $suf, $vals )
  if last( $vals ) == "!important"
    _void = pop( $vals )    // remove !important from vals
    $important = "!important"
  else
    $important = ""

  // Property Names
  $top    =  $pre + "-top"    + ($suf ? "-" + $suf : "")
  $right  =  $pre + "-right"  + ($suf ? "-" + $suf : "")
  $bottom =  $pre + "-bottom" + ($suf ? "-" + $suf : "")
  $left   =  $pre + "-left"   + ($suf ? "-" + $suf : "")
  $all    =  $pre + ""        + ($suf ? "-" + $suf : "")

  $vals = collapse-directionals($vals)

  if contains-falsy($vals)
    if $vals[0] != false
      {$top}: $vals[0] unquote($important)

    if length( $vals ) == 1
      if $vals[0] != false
        {$right}: $vals[0] unquote($important)
    else
      if $vals[1] != false
        {$right}: $vals[1] unquote($important)

    if length($vals) == 2
      if $vals[0] != false
        {$bottom}: $vals[0] unquote($important)
      if $vals[1] != false
        {$left}:   $vals[1] unquote($important)
    else if length($vals) == 3
      if $vals[2] != false
        {$bottom}: $vals[2] unquote($important)
      if $vals[1] != false
        {$left}:   $vals[1] unquote($important)
    else if length($vals) == 4
      if $vals[2] != false
        {$bottom}: $vals[2] unquote($important)
      if $vals[3] != false
        {$left}:   $vals[3] unquote($important)
  else
    {$all}: $vals unquote( $important )
