//  Browsehappy styles
//  ==========================================================================

.browsehappy
	background: #333
	cursor: pointer

	// typography
	color: #fff
	font-size: 13px
	line-height: 21px
	text-align: center

	// box model
	padding: 15px
	width: 100%

.browsehappy a
	color: #fff
	font-weight: bold

.browsehappy a:hover
	text-decoration: none
