//  Background Colors
//  ==========================================================================
//
// 	doc: http://www.basscss.com/docs/background-colors/

.{$prefix-utility}bg-primary   { background-color: $color-primary }
.{$prefix-utility}bg-secondary { background-color: $color-secondary }
.{$prefix-utility}bg-tertiary  { background-color: $color-tertiary }

.{$prefix-utility}bg-black  { background-color: $black }
.{$prefix-utility}bg-gray   { background-color: $gray }
.{$prefix-utility}bg-silver { background-color: $silver }
.{$prefix-utility}bg-white  { background-color: $white }

.{$prefix-utility}bg-aqua  { background-color: $aqua }
.{$prefix-utility}bg-blue  { background-color: $blue }
.{$prefix-utility}bg-navy  { background-color: $navy }
.{$prefix-utility}bg-teal  { background-color: $teal }
.{$prefix-utility}bg-green { background-color: $green }
.{$prefix-utility}bg-olive { background-color: $olive }
.{$prefix-utility}bg-lime  { background-color: $lime }

.{$prefix-utility}bg-yellow  { background-color: $yellow }
.{$prefix-utility}bg-orange  { background-color: $orange }
.{$prefix-utility}bg-red     { background-color: $red }
.{$prefix-utility}bg-fuchsia { background-color: $fuchsia }
.{$prefix-utility}bg-purple  { background-color: $purple }
.{$prefix-utility}bg-maroon  { background-color: $maroon }

.{$prefix-utility}bg-darken-1 { background-color: $darken-1 }
.{$prefix-utility}bg-darken-2 { background-color: $darken-2 }
.{$prefix-utility}bg-darken-3 { background-color: $darken-3 }
.{$prefix-utility}bg-darken-4 { background-color: $darken-4 }

.{$prefix-utility}bg-lighten-1 { background-color: $lighten-1 }
.{$prefix-utility}bg-lighten-2 { background-color: $lighten-2 }
.{$prefix-utility}bg-lighten-3 { background-color: $lighten-3 }
.{$prefix-utility}bg-lighten-4 { background-color: $lighten-4 }
