//  Positions
//  ==========================================================================
//
//  doc: http://www.basscss.com/docs/utility-layout/

.{$prefix-utility}inline       { display: inline }
.{$prefix-utility}block        { display: block }
.{$prefix-utility}inline-block { display: inline-block }
.{$prefix-utility}table        { display: table }
.{$prefix-utility}table-cell   { display: table-cell }

.{$prefix-utility}overflow-hidden { overflow: hidden }
.{$prefix-utility}overflow-scroll { overflow: scroll }
.{$prefix-utility}overflow-auto   { overflow: auto }

.{$prefix-utility}clearfix:before,
.{$prefix-utility}clearfix:after {
	content: " ";
	display: table;
}
.{$prefix-utility}clearfix::after { clear: both }

.{$prefix-utility}left  { float: left }
.{$prefix-utility}right { float: right }

.{$prefix-utility}fit { max-width: 100% }

.{$prefix-utility}border-box { box-sizing: border-box }

// make a wrapper element
.{$prefix-utility}wrap {
  wrap()
}
