//  Typography
//  ==========================================================================
//
//   doc: http://www.basscss.com/#basscss-typography

.{$prefix-utility}bold    { font-weight: $font-weight-bold }
.{$prefix-utility}regular { font-weight: $font-weight-normal }
.{$prefix-utility}italic  { font-style: italic }

.{$prefix-utility}capitalize { text-transform: capitalize }
.{$prefix-utility}lowercase  { text-transform: lowercase }
.{$prefix-utility}uppercase  { text-transform: uppercase }

.{$prefix-utility}left-align   { text-align: left }
.{$prefix-utility}center       { text-align: center }
.{$prefix-utility}right-align  { text-align: right }
.{$prefix-utility}justify      { text-align: justify }

.{$prefix-utility}nowrap { white-space: nowrap }
.{$prefix-utility}break-word { word-wrap: break-word }

.{$prefix-utility}font-familiy-inherit { font-family: inherit }
.{$prefix-utility}text-decoration-none { text-decoration: none }

.{$prefix-utility}truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.{$prefix-utility}list-reset {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}


//  Headings
//  --------------------------------------------------------------------------

.{$prefix-utility}h00,
.{$prefix-utility}h0,
.{$prefix-utility}h1,
.{$prefix-utility}h2,
.{$prefix-utility}h3,
.{$prefix-utility}h4,
.{$prefix-utility}h5,
.{$prefix-utility}h6 {
  color: $heading-color
  display block
  font-family: $heading-font-family
  font-weight: $heading-font-weight
  line-height: $heading-line-height
  margin: 0 0 1em
}

.{$prefix-utility}h00 { font-size: $font-size-h00 }
.{$prefix-utility}h0 { font-size: $font-size-h0 }
.{$prefix-utility}h1 { font-size: $font-size-h1 }
.{$prefix-utility}h2 { font-size: $font-size-h2 }
.{$prefix-utility}h3 { font-size: $font-size-h3 }
.{$prefix-utility}h4 { font-size: $font-size-h4 }
.{$prefix-utility}h5 { font-size: $font-size-h5 }
.{$prefix-utility}h6 { font-size: $font-size-h6 }


//  Font sizes
//  --------------------------------------------------------------------------

.{$prefix-utility}fz-inherit { font-size: inherit }

for $key, $value in $font-size
  .{$prefix-utility + 'fz-' + $key} { font-size: $value }
