//  White Space
//  ==========================================================================
//
//  doc: http://www.basscss.com/docs/white-space/


//  Margins
//  --------------------------------------------------------------------------

.{$prefix-utility}m0  { margin:        0 }
.{$prefix-utility}mt0 { margin-top:    0 }
.{$prefix-utility}mr0 { margin-right:  0 }
.{$prefix-utility}mb0 { margin-bottom: 0 }
.{$prefix-utility}ml0 { margin-left:   0 }

for $key, $value in $spaces
  .{$prefix-utility}m{$key}  { margin:        space($key) }
  .{$prefix-utility}mt{$key} { margin-top:    space($key) }
  .{$prefix-utility}mr{$key} { margin-right:  space($key) }
  .{$prefix-utility}mb{$key} { margin-bottom: space($key) }
  .{$prefix-utility}ml{$key} { margin-left:   space($key) }

  .{$prefix-utility}mxn{$key} {
    margin-left:  - space($key);
    margin-right: - space($key);
  }

.{$prefix-utility}mx-auto { margin-left: auto; margin-right: auto; }


//  Padding
//  --------------------------------------------------------------------------

.{$prefix-utility}p0  { padding:        0 }
.{$prefix-utility}pt0 { padding-top:    0 }
.{$prefix-utility}pr0 { padding-right:  0 }
.{$prefix-utility}pb0 { padding-bottom: 0 }
.{$prefix-utility}pl0 { padding-left:   0 }

for $key, $value in $spaces
  .{$prefix-utility}p{$key}  { padding:        space($key) }
  .{$prefix-utility}pt{$key} { padding-top:    space($key) }
  .{$prefix-utility}pr{$key} { padding-right:  space($key) }
  .{$prefix-utility}pb{$key} { padding-bottom: space($key) }
  .{$prefix-utility}pl{$key} { padding-left:   space($key) }

  .{$prefix-utility}py{$key} {
    padding-top:    space($key);
    padding-bottom: space($key);
  }
  .{$prefix-utility}px{$key} {
    padding-left:  space($key);
    padding-right: space($key);
  }
