//  Core resets
//  ==========================================================================

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color: $transparent

  &
  &::before
  &::after
    box-sizing: inherit

html
body
  width: 100%
  overflow-x: hidden

html
  box-sizing: border-box

video
audio
embed
object
input
iframe
  max-width: 100%
