//  Group
//  ==========================================================================


.{$prefix-object}group
  display: flex
  flex-direction: row
  align-items: stretch

.{$prefix-object}group__fit
  flex: 1 1 auto
  min-width: 0
  min-height: 0
