//  Input group
//  ==========================================================================


//
// 1. fix firefox
//

.{$prefix-object}group
  display: flex
  flex-direction: row
  align-items: stretch

.{$prefix-object}group__fit
  flex-grow: 1
  width: 1px // 1
